
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
*{
    margin:3px;
    padding:3px;
    font-size:16px;
    font-family:'Trade winds', 'Helvetica', 'sans-serif';

}
body{

    background-image:url('../img/whiteconcrete.jpg');
    background-size:88% 280px; 
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-attachment: fixed;
    


   /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,77,29,0.8883928571428571) 50%, rgba(252,176,69,1) 100%);*/

    display:grid;
    grid-template-columns:30% 30% 30% ;
    grid-template-rows: auto  auto auto auto;
    grid-template-areas:"logo navigation navigation " 
    "about-me about-me about-me " 
    "education experience contact"  
    "social-links social-links social-links";
    
}

.logo{
    grid-area:logo ;
    color: palevioletred;
   
    
    

}
.navigation{
    
    grid-area:navigation ;
    padding-left: 100px;
    overflow: hidden;

    
}

.about-me{
    grid-area:about-me ;
    text-align: center;
    border-style: solid;
    
}

.education{
    grid-area:education ;
    text-align: center;
    border-style: solid;
   
}
.experience{
    grid-area:experience ;
    text-align: center;
    border-style: solid;
   
}
.contact{
    grid-area:contact ;
    text-align: center;
    border-style: solid;
}
    
.social-links{
    grid-area:social-links ;
    text-align: center;
    border-style: solid;
}
    


@media screen and (min-width: 500px)
{
    body{
        display:grid;
        grid-template-columns:30% 30% 30% ;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:"logo navigation navigation " 
        "about-me about-me about-me " 
        "education experience contact"  
        "social-links social-links social-links";
    }




    
.logo{
    grid-area:logo ;
    color: palevioletred;
    
   
}
.navigation{
    grid-area:navigation ;
    padding-left: 100px;
    overflow: hidden;
    

}

.about-me{
    grid-area:about-me ;
    text-align: center;
    border-style: solid;
   
}

.education{
    grid-area:education ;
    text-align: center;
    border-style: solid;
    
}
.experience{
    grid-area:experience ;
    text-align: center;
    border-style: solid;
    
}
.contact{
    grid-area:contact ;
    text-align: center;
    border-style: solid;
   
}
.social-links{
    grid-area:social-links ;
    text-align: center;
    border-style: solid;
   
}
}



@media screen and (min-width:1024px)
{
    body{
        display:grid;
        grid-template-columns:30% 30% 30% ;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:"logo navigation navigation " 
        "about-me about-me about-me " 
        "education experience contact"  
        "social-links social-links social-links";
    }



    
.logo{
    grid-area:logo ;
   
}
.navigation{
    grid-area:navigation ;
    padding-left: 100px;
    overflow: hidden;


    
    
}

.about-me{
    grid-area:about-me ;
    text-align: center;
    border-style: solid;
   
}

.education{
    grid-area:education ;
    text-align: center;
    border-style: solid;
    
}
.experience{
    grid-area:experience ;
    text-align: center;
    border-style: solid;
    
}
.contact{
    grid-area:contact ;
    text-align: center;
    border-style: solid;
   
}
.social-links{
    grid-area:social-links ;
    text-align: center;
    border-style: solid;
    
}
}



section img{
    float:inline-start;
    border-radius: 100px;

}
section h1{
    font-size: 42px;
    color:palevioletred;
}
section p{
    text-align:right;
}

.navigation a {
    float: left;
    font-size: 16px;
    color: blue;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    border:solid;
    border-radius: 20px;
  }
