
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
*{
    box-sizing: border-box;
    margin:3px;
    padding:3px;
    border: 3px;
    font-size:16px;
    font-family:'Trade winds', 'Helvetica', 'sans-serif';
}


body{

    background-image:url('../img/whiteconcrete.jpg');
    background-size:88% 280px; 
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-attachment: fixed;
    backface-visibility: inherit;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,77,29,0.8883928571428571) 50%, rgba(252,176,69,1) 100%);
    display:grid;
    grid-template-columns:30% 30% 30% ;
    grid-template-rows: auto  auto auto auto;
    
    grid-template-areas:"logo navigation navigation " 
    "about-me about-me about-me " 
    "education experience contact"  
    "social-links social-links social-links";
    
}

.logo{
    grid-area:logo ;
    color:black;
   
    
    

}
.navigation{
    
    grid-area:navigation ;
    padding-left: 250px;
    overflow: hidden;

    
}

.about-me{
    grid-area:about-me ;
    text-align: center;
    
    
}

.education{
    grid-area:education ;
    text-align: center;
    border: solid;
    border-radius: 20px;
   
}
.experience{
    grid-area:experience ;
    text-align: center;
    border: solid;
    border-radius: 20px;
    
   
}
.contact{
    grid-area:contact ;
    text-align: center;
    border: solid;
    border-radius: 20px;
}
    
.social-links{
    grid-area:social-links ;
    text-align: center;
}


.navigation h1{
    text-align: center;
    font-size: 48px;
    border-bottom: 3px solid #5D6063;
}

.navigation a {
    float: left;
   /* display: block;*/
    color:rgb(122, 7, 7);
  
    appearance: button;
    margin:8px;
    padding: 8px 5px 8px 5px;
    text-decoration: none;
    border:3px solid black;
    border-radius: 20px;
    cursor: pointer;
}


    .contact>label{
    
        color: blueviolet;
    }
  

.about-me img{
    
    width: 200px;
    height: 200px;
    border: 1px solid black;
    float:inline-start;
    border-style:solid;
    border-radius : 100px;
    object-position: 50% 50%;
    
}
.about-me h2{
    
    font-size: 42px;
    color:rgb(122, 7, 7);
}

.about-me  h2  i{
    padding-top:20px ;
    border-style: solid;
    border-radius: 30px;
}
.about-me  p{
    
    text-align:justify;
}
#edufevicon{
    list-style: none;
    
}
#edufevicon li{
    position:relative;
    padding:8px 8px 8px 42px;
   
}
#edufevicon li img{
    position:absolute;
    
    top:0;
    left:0;
    width:32px;
    height:32px;
    
}

.education h2,
.experience h2,
.contact h2{
    
    font-size: 32px;
    color:rgb(122, 7, 7);
}

.education  h2  i,
.experience h2 i,
.contact h2 i{
    padding-top: 20px ;
    border-style: solid;
    border-radius: 30px;
}
.education p{
    text-align: justify;
}


.social-links h3{
    text-align: center;
}
#social-media-links{
    list-style: none;
    text-align: center;
}

#social-media-links >li{
    display:inline-block;
    margin:8px;



}

#social-media-links .fab{
    color:blue;
   font-size:40px;
}

#social-media-links .fas{
    color:blue;
   font-size:40px;
}


#social-media-links a:hover .fab,
#social-media-links a:focus .fab,
#social-media-links a:active .fab{
    color:rgba(231, 105, 32,0.5);
}

#social-media-links a:hover .fas,
#social-media-links a:focus .fas,
#social-media-links a:active .fas{
    color:rgba(231, 105, 32,0.5);
}


.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }


  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; 
  }


@media screen and (min-width: 500px)
{
    body{
        display:grid;
        grid-template-columns:30% 30% 30% ;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:"logo navigation navigation " 
        "about-me about-me about-me " 
        "education experience contact"  
        "social-links social-links social-links";
    }




    
.logo{
    grid-area:logo ;
    color: black;
}
.navigation{
    grid-area:navigation ;
    padding-left: 250px;
    overflow: hidden;
    

}

.about-me{
    grid-area:about-me ;
    text-align: center;
    
   
}

.education{
    grid-area:education ;
    text-align: center;
    
    
}
.experience{
    grid-area:experience ;
    text-align: center;
     
}
.contact{
    grid-area:contact ;
    text-align: center;
}
  .social-links{
    grid-area:social-links ;
    text-align: center;
      
}
}



@media screen and (min-width:1024px)
{
    body{
        display:grid;
        grid-template-columns:30% 30% 30% ;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:"logo navigation navigation " 
        "about-me about-me about-me " 
        "education experience contact"  
        "social-links social-links social-links";
    }



    
.logo{
    grid-area:logo ;
    color: black;
   
}
.navigation{
    grid-area:navigation ;
    padding-left: 250px;
    overflow: hidden;


    
    
}

.about-me{
    grid-area:about-me ;
    text-align: center;
      
}

.education{
    grid-area:education ;
    text-align: center;
   
    
}
.experience{
    grid-area:experience ;
    text-align: center;
       
}
.contact{
    grid-area:contact ;
    text-align: center;
   
   
}
.social-links{
    grid-area:social-links ;
    text-align: center;
   
    
}
}
